[submodule "baxter"]
	path = src/baxter
	url = https://github.com/RethinkRobotics/baxter.git
	branch = release-1.2.0
[submodule "baxter_common"]
	path = src/baxter_common
	url = https://github.com/RethinkRobotics/baxter_common.git
	branch = kinetic_optional_gripper
[submodule "baxter_examples"]
	path = src/baxter_examples
	url = https://github.com/RethinkRobotics/baxter_examples.git
	branch = xacro_kinetic
[submodule "baxter_interface"]
	path = src/baxter_interface
	url = https://github.com/RethinkRobotics/baxter_interface.git
	branch = release-1.2.0
[submodule "baxter_tools"]
	path = src/baxter_tools
	url = https://github.com/RethinkRobotics/baxter_tools.git
	branch = release-1.2.0
[submodule "moveit_robots"]
	path = src/moveit_robots
	url = https://github.com/ros-planning/moveit_robots.git
	branch = kinetic-devel
[submodule "baxter_simulator"]
	path = src/baxter_simulator
	url = https://github.com/RethinkRobotics/baxter_simulator.git
	branch = kinetic-optional-grippers
